$white: #fff;
$green: #80BD34;
$black: #111111;
$peach: #FFE6C7;
$darkGreen: #46681D;
$lightGreen: #F2F8EB;
$lightGray: #FAFAFA;
$taupeGray: #8e8c8c;
$pastelOrange :#ffb668;
$brightOrange :#FF921D;
$seashell: #FFF4E8;
$teaGreen: #D8EBC0;