.storespage {
    background-color: $white;
    margin-top: 6.5rem !important;
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
    height: 82vh;

    .stores {
        .head {
            border-bottom: 1px solid $green;
            padding-bottom: 15px;

            .image {
                background: $lightGreen;
            }

            .title span {
                color: $green;
            }
        }

        .stores-name span {
            padding: 5px;
            transition: .2s;

            &:hover {
                transform: translate(10px);
                border-bottom: 1px solid $green;

            }
        }
    }
}

@media(max-width:768px) {
    .storespage {
        height: auto !important;
    }
}